<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Appointment</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<h1>Add Appointment</h1>
<form action="#" th:action="@{/addAppointment}" th:object="${appointment}" method="post">
    <p>Appointment ID: <input type="number" required th:field="*{AID}" /></p>
    <p>Patient ID: <input type="number" required th:field="*{PID}" /></p>
    <p>Doctor ID: <input type="number"   th:field="*{s_DID}" /></p>
    <p>Reason for Visit: <input type="text" required th:field="*{reason}" /></p>
    <p>Appointment Date: <input type="date" required th:field="*{apptDate}" /></p>
    <p>Admission Date: <input type="date"  th:field="*{admission}" /></p>
    <p>Expected Discharge: <input type="date"  th:field="*{expDischarge}" /></p>
    <p>Actual Discharge: <input type="date"  th:field="*{actDischarge}" /></p>
    <p>Room Number: <input type="number" min="1" max="300" th:field="*{s_room}" /></p>
    <select th:field="*{treatment}">
        <option th:value="empty" th:text="---Treatment---"></option>
        <option th:value="physical therapy" th:text="Physical Therapy"></option>
        <option th:value="surgical" th:text="Surgical"></option>
        <option th:value="medical" th:text="medical"></option>
    </select>

    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>


</body>
</html>
