<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Patient Query Results</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<!--
    private int ID;
    private String fName;
    private String lName;
    private String gender;
    private String status;
    private java.sql.Date DOB;
    private String address;

    private int phone;
    private String s_phone;
    private boolean emptyPhone;
-->
<h1>Result</h1>
<p th:text="'id: ' + ${patient.ID}" />
<p th:text="'First Name: ' + ${patient.fName}" />
<p th:text="'Last Name: ' + ${patient.lName}" />
<p th:text="'Gender: ' + ${patient.gender}" />
<p th:text="'Status: ' + ${patient.status}" />
<p th:text="'DOB: ' + ${patient.DOB}" />
<p th:text="'Address: ' + ${patient.address}" />
<p th:text="'Phone Number: ' + ${patient.phone}" />
<p th:text="'Empty Phone: ' + ${patient.emptyPhone}" />
<a href="/">Home</a>
</body>
</html>
