<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Doctor Query Results</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<h1>Result</h1>
<p th:text="'id: ' + ${doctor.ID}" />
<p th:text="'First Name: ' + ${doctor.fName}" />
<p th:text="'Last Name: ' + ${doctor.lName}" />
<p th:text="'Status: ' + ${doctor.status}" />
<p th:text="'DOB: ' + ${doctor.DOB}" />
<p th:text="'Address: ' + ${doctor.address}" />
<p th:text="'Phone: ' + ${doctor.phone}" />
<p th:text="'Dept ID: ' + ${doctor.deptID}" />
<p th:text="'Office: ' + ${doctor.office}" />
<p th:text="'Empty Phone: ' + ${doctor.emptyPhone}" />
<p th:text="'Empty Dept: ' + ${doctor.emptyDeptID}" />
<p th:text="'Empty Office: ' + ${doctor.emptyOffice}" />


<a href="/">Home</a>
</body>
</html>
